{% extends "Doctor/base.html" %}

{% block content %}

<style type="text/css">

    .mainContainer .leftSection .formContainer .container .custyle .table{
      display: block;
        overflow-x: auto;
        white-space: nowrap;

    }

		.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 10px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu ul a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.head{

	overflow: hidden;
	background-color: currentColor;
	//position: fixed;
	width: 100%;
	height: 50px;
	//margin-left: 300px;
}
.header-right{
	float: right;
}
.headDropdown{
	color: #EEE;
    background: transparent;
	width: 152px;
	height: 49px;
}
.headDropdown option {
    margin: 40px;
    background: #2e353d;
    color: #fff;

}
.mainContainer{
  background: transparent;
  
  margin-left: 300px;
}
.leftFormContainer{
  background: ;
  float: left;
  //box-shadow: 0 9px 9px silver;
  margin: 0 auto;
  padding-bottom: 33px;
  padding-top: 5px;
  width: 494px;

}
.formContainer{
  background: red;
  
  //box-shadow: 0 9px 9px silver;
  
  
  width: 533px;

}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    .leftContainer{
      background: transparent;
    }
    .rightSection{
      background: ;
      float: right;
     // width: 564px;
      //height: 366px;
      margin: 0 auto;
      padding: 9px;
    }
    .rightSection .container{
      background: ;
      box-shadow: 0 9px 9px silver;
    }
    //switch start

  

//switch end

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .mainContainer{
    margin-left: 0px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

	</style>

	<link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<link href="font-awesome.min.css" rel="stylesheet">

<div class="pageContainer">
    <div class="head">
  <div class="header-right">

    <select class="headDropdown">
      <a href="#">NNN</a>
    <option><a href="https://www.google.com">Logout</a></option>
    <option>Change Password</option>
  </select>
  </div>
  
</div>
<div class="nav-side-menu">
    <div class="brand">E Prescription</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li class="">
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <a href="#">
                  <li data-toggle="collapse" data-target="#service" class="collapsed active">
                  <i class="fa fa-user fa-lg"></i> Make Prescription 
                </li> 
                </a>
                  
               
                 
            </ul>
     </div>
</div>

<div class="mainContainer">
  
  <div class="leftSection" style="background: blue;">
      <div class="leftFormContainer" style="background:red;">
                <div class="leftContainer" style="background: blue;">


                    <form class="form-horizontal" id="form" role="form" style="background:green;">
                        <h4 style="margin-left: 0px;">Make Prescription</h4>
                        <br>


                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="patientPhoneNumber" class=" control-label">Phone Number*</label>
                                        <input type="text" id="patientPhoneNumber" placeholder="Phone Number" class="form-control" autofocus autocomplete="off" list="patientPhoneNumberList">
                                        <datalist id="patientPhoneNumberList"></datalist>
                                    </div>
                                    <div class="col-sm-7">
                                        <label for="patientName" class=" control-label">Patient Name*</label>
                                        <input type="text" id="patientName" placeholder="Name" class="form-control" autofocus autocomplete="off" list="patientNameList">
                                        <datalist id="patientNameList"></datalist>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="name" class=" control-label">Age*</label>
                                        <input type="number" id="name" placeholder="Name" class="form-control" autofocus autocomplete="off">
                                    </div>
                                    <div class="col-sm-5">

                                        <label for="name" class=" control-label">Blood Grpup*</label>
                                        <select class="form-control">
                                            <option>
                                              --select one--
                                            </option>
                                            {% for bloodGroup in patientBloodGroup%}
                                            <option>
                                              {{bloodGroup.patientBloodGroupName}}
                                            </option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sex" class="col-sm-5 control-label">Sex* </label>
                            <div class="col-sm-8 form-control">
                                Male <input type="radio" id="sex" name="sex"> Female <input type="radio" id="sex" name="sex"> Others <input type="radio" id="sex" name="sex">
                            </div>
                        </div>
                        <hr>

                        <div class="form-group" style="background: red;">
                          

                            <div class="col-sm-12" >
                              <h5>Add Medicien</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="name" class=" control-label">Madicien Type*</label>
                                        <select class="form-control">
                                            <option>
                                              --select one--
                                            </option>
                                            
                    </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="name" class=" control-label">Company*</label>
                                        <select class="form-control">
                                            <option>
                                              --select one--
                                            </option>
                                            
                    </select>
                                    </div>
                                    <div class="col-sm-4">

                                        <label for="name" class=" control-label">Medicine*</label>
                                        <select class="form-control">
                                            <option>
                                              --select one--
                                            </option>
                                            
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4" style="background: yellow;">
                                        <label for="name" class=" control-label">Frequan*</label>
                                        <div class="col-sm-10 form-control" style="background: red;">
                                           <input type="checkbox" id="sex" name="sex"> Morning<br>
                                            <input type="checkbox" id="sex" name="sex"> Noon<br>
                                             <input type="checkbox" id="sex" name="sex"> Night
                                       </div>
                                    </div>
                                    <div class="col-sm-4" style="background: red;">

                                        <label for="name" class=" control-label">Quantity*</label>
                                        <input type="number" id="quantity" placeholder="Quantity" class="form-control" autofocus>
                                    </div>
                                    <div class="col-sm-4" style="background: yellow;">

                                        
                                        <input type="button" id="add" value="Add" class="btn btn-info btn-block" autofocus>
                                    </div>

                                    

                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="password" class="col-sm-5 control-label">Confirm Password*</label>
                            <div class="col-sm-8">
                                <input type="password" id="confirmPassword" placeholder="Password" class="form-control">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="licence" class="col-sm-5 control-label">Drug Licence* </label>
                            <div class="col-sm-8">
                                <input type="text" id="licence" placeholder="Licence of the Pharmacy" class="form-control">
                            </div>
                        </div> -->





                        <!-- /.form-group -->
                        <!-- <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <span class="help-block">*Required fields</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3" id="message">

                            </div>
                        </div>
                        <input type="button" class="btn btn-primary btn-block" id="registerButton" value="Register"></button> -->
                    </form>
                    <!-- /form -->
                </div>
                <!-- ./container -->

                
            </div> <!-- formContainer -->
      
  </div>
  <div class="rightSection">
      
<div class="formContainer">
    
      <div class="container">
    <div class="row col-md-12 col-md-offset-5 custyle">
    <table class="table table-striped custab" >
    <thead>
    <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
    <h4>Medicine List</h4>
    
    
        <tr>
            <th>Medicine</th>
            <th>Frequancy</th>
            <th>Quantity</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>X</td>
                <td>Antibiotic</td>
                <td>Tablet</td>
                <td class="text-center">
                  
                  <a class='btn btn-info btn-sm' href="#"><span class="glyphicon glyphicon-edit"></span> Delete</a>
                </td>
            </tr>
            <tr>
                <td>Y</td>
                <td>Pain Killer</td>
                <td>Liquid</td>
                <td class="text-center">
                  
                  <a class='btn btn-info btn-sm' href="#"><span class="glyphicon glyphicon-edit"></span> Delete</a>
                </td>
            </tr>
            <tr>
                <td>Z</td>
                <td>paracetamol</td>
                <td>Capsule</td>
                <td class="text-center">
                  
                  <a class='btn btn-info btn-sm' href="#"><span class="glyphicon glyphicon-edit"></span> Delete</a>
                </td>
            </tr>
    </table>
    </div>
</div>
</div>
      
        <input type="button" class="btn btn-primary btn-block" id="registerButton" value="">
        
       
</div><!-- rightSection -->

  </div>
  

</div>
 </div>

 <script>
      $("document").ready(function(){
          $.ajax({
            url: "getPatientPhoneNumber",
            type: "GET",
            success: function(data){
              var patientPhoneNumber=JSON.parse(data.patientPhoneNumber);
              for(key in patientPhoneNumber)   
              {
                  $("#patientPhoneNumberList").append("<option value='"+patientPhoneNumber[key].fields.patientPhoneNumber+"'>")
                  
              }
              
            }
          })
      });
      $("#patientPhoneNumber").blur(function(){
        $("#registerButton").val("cle")
          var phoneNumber=$("#patientPhoneNumber").val()
          if(phoneNumber.localeCompare("")!=0){
              $.ajax({
            
            url: "getPatientsNameOnPhoneNumber",
            type: "GET",
            data: {
              patientPhoneNumber: phoneNumber
            },
            success: function(data){
                var patientName=JSON.parse(data.patientName);
                for(key in patientName)   
                {
                    $("#patientNameList").append("<option value='"+patientName[key].fields.patientName+"'>")
                   
                }
            }
          });
          }
          
      });
 </script>


 {% endblock content %}
    
